/* SVT Graphic Profile https://styleguide.svt.se/identity/color */

/* Red */
$svt-color_red_extra-light: #ffd2d7;
$svt-color_red_light: #f0828c;
$svt-color_red_regular: #e13241;
$svt-color_red_dark: #b9232d;
$svt-color_red_extra-dark: #911414;
$svt-color_red_accent: #ff4b7d;

/* Orange */
$svt-color_orange_extra-light: #ffe6d2;
$svt-color_orange_light: #faaf82;
$svt-color_orange_regular: #eb6937;
$svt-color_orange_dark: #d25a1e;
$svt-color_orange_extra-dark: #b93c05;
$svt-color_orange_accent: #ff912d;

/* Yellow */
$svt-color_yellow_extra-light: #fff0d2;
$svt-color_yellow_light: #ffdc8c;
$svt-color_yellow_regular: #ffc346;
$svt-color_yellow_dark: #ebaa23;
$svt-color_yellow_extra-dark: #d28c00;
$svt-color_yellow_accent: #fff000;

/* Green */
$svt-color_green_extra-light: #d2ebd2;
$svt-color_green_light: #82c882;
$svt-color_green_regular: #32a532;
$svt-color_green_dark: #23821e;
$svt-color_green_extra-dark: #0f5a0a;
$svt-color_green_accent: #00c800;

/* Turquoise */
$svt-color_turquoise_extra-light: #cdf0e6;
$svt-color_turquoise_light: #87d7cd;
$svt-color_turquoise_regular: #3cbeb4;
$svt-color_turquoise_dark: #2d9b91;
$svt-color_turquoise_extra-dark: #197869;
$svt-color_turquoise_accent: #00dcd2;

/* Blue */
$svt-color_blue_extra-light: #d2e6f5;
$svt-color_blue_light: #7dbee1;
$svt-color_blue_regular: #2891c8;
$svt-color_blue_dark: #1e69aa;
$svt-color_blue_extra-dark: #0f418c;
$svt-color_blue_accent: #0091ff;

/* Purple */
$svt-color_purple_extra-light: #d7d2f0;
$svt-color_purple_light: #b48ccd;
$svt-color_purple_regular: #87289b;
$svt-color_purple_dark: #641e78;
$svt-color_purple_extra-dark: #410f5a;
$svt-color_purple_accent: #be00dc;

/* Gray */
$svt-color_gray_extra-light: #ebebeb;
$svt-color_gray_light: #cccccc;
$svt-color_gray_regular: #8c8c8c;
$svt-color_gray_dark: #737373;
$svt-color_gray_extra-dark: #4d4d4d;

/* Warm Gray */
$svt-color_warm-gray_extra-light: #ebebe6;
$svt-color_warm-gray_light: #cdcdc3;
$svt-color_warm-gray_regular: #a09b96;
$svt-color_warm-gray_dark: #78736e;
$svt-color_warm-gray_extra-dark: #504b46;

/* Cool Gray */
$svt-color_cool-gray_extra-light: #e6ebeb;
$svt-color_cool-gray_light: #d2dcdc;
$svt-color_cool-gray_regular: #7d9196;
$svt-color_cool-gray_dark: #647378;
$svt-color_cool-gray_extra-dark: #465055;

/* Black & White */
$svt-color_white: #ffffff;
$svt-color_black: #000000;

// SPECIFIC
$color-text: $svt-color_black;
$color-text-inverted: $svt-color_white;
$color-text-meta: $svt-color_cool-gray_regular;

$color-borders: $svt-color_cool-gray_light;
