/* Shared

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

// Result Component
.result {
  padding: 1.5rem 2.5rem;
}

// Quiz Component //
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

// QuestionCount Component //
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

// Question Component
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

// AnswerOption Component
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

*/

.answerOptions {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
   align-items: center;
}

.answerOption {
  // border: 1px solid #333;
  // width: 72px;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    height: 72px;
    /*
    width: 100%;
    margin: 0;
    // padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
    */
    text-indent: -9999px;
}

.radioCustomButton ~ .radioCustomLabel {

  width: 72px;
  height: 72px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    line-height: 72px;
    border-radius: 50%;
    background-color: #444;
    content: '';
    display: inline-block;
    vertical-align: middle;

   text-decoration: none;
   cursor: pointer;

   @include font-smoothing;
   color: $color-text-meta;
   background-color: $svt-color_white;

      /*

       &--red {
         border: none;
         color: $color-text-inverted;
         background-color: $svt-color_red_regular;
         &:active, &:focus {
             background-color: $svt-color_red_extra-dark;
             color: $color-text-inverted;

         }
       }

       &--green {
         border: none;
         color: $color-text-inverted;
         background-color: $svt-color_green_regular;
         &:active, &:focus {
             background-color: $svt-color_green_extra-dark;
             color: $color-text-inverted;
         }
       }

       */

       text-align: center;
       transition: .1s ease-out;
       cursor: pointer;
       font-size: 1rem;
       outline: 0;

       @include box_shadow(2);



     }


}

.radioCustomButton ~ .radioCustomLabel-down:before {

  color: $color-text-inverted;
  background: $svt-color_red_regular url(./styles/thumbs-down.svg) no-repeat;
  background-size: 40px;
  background-position: center;
  // TODO: checked
}



.radioCustomButton ~ .radioCustomLabel-up {

  &:before {
    color: $color-text-inverted;
    background: $svt-color_green_regular url(./styles/thumbs-up.svg) no-repeat;
    background-size: 40px;
    background-position: center;
    // TODO: checked
  }
}

.radioCustomButton ~ .radioCustomLabel-skip {

  width: 32px;
  height: 32px;

  &:before {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: $color-text-meta;
    background: $svt-color_white url(./styles/skip.svg) no-repeat;
    background-size: 18px;
    background-position: center;
    // TODO: checked
  }
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    filter: brightness(50%);
}

.no-touching {

  .radioCustomButton ~ .radioCustomLabel {
    &:hover:before {
        @include box_shadow(3);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
  }

  .radioCustomButton:checked ~ .radioCustomLabel:before {
      @include box_shadow(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      transform: translateY(0);
  }

}



// Animation //
.container {
  position: relative;
  width: 100%;
  min-height: 200px;
}
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

// HERE
.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.down {
  .fade-leave.fade-leave-active {
    .card {
      transform: translate3d(-100%, 10%, 0);
      transition: all 0.15s ease-out;
    }
  }
}

.up {
  .fade-leave.fade-leave-active {
    .card {
      transform: translate3d(100%, 10%, 0);
      transition: all 0.15s ease-out;
    }
  }
}
