@import 'styles/_colors';
@import 'styles/_mixins';

body {
  margin: 0;
  padding: 0;
  font-family: Publik,Helvetica,Arial,Nimbus Sans L,Bitstream Vera Sans,sans-serif;
  font-size: 16px;
  color: $color-text;
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app {
  // min-width: 280px;_up
  max-width: 367px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}

///// TYPOGRAPHY ////
p {
  font-size: 16px;
  line-height: 20px;
  margin: 0.5em 0 0 0;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0 0 0;
  font-weight: normal;
  @include font-smoothing;
}

.questionCount  {
  @extend .text-meta;
  display: block;
  padding: 2em 0 1em 0;
  text-align: right;
}

.text-large {
  font-size: 24px;
  line-height: 30px;
  @include font-smoothing;
}

.text-meta {
  font-size: 14px;
  color: $color-text-meta;
}


// END TYPOGRAPHY //

.resultpage {
    width: 100%;
    padding-top: 2em;
    text-align: center;
}

.resultLogo {
  width: 65%;
  margin: 0 auto;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.spacer {
  display: block;
  height: 100px;
}

.cardWrapper {
  width: 100%;
  min-height: 355px;
  overflow: visible;
}

.card {
     width: 100%;
     min-height: 350px;
     background: $svt-color_white;
     -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
     transition: all 250ms;
     @include box_shadow(1);

     h2 {
       margin: 10px 10px 0 10px;
       padding-bottom: 25px;
     }

     p {
       padding: 8px;
     }

     img {
       width: 100%;
       max-width: 100%;
     }
 }

 .btn {
    text-decoration: none;
    cursor: pointer;

    @include font-smoothing;
    color: $color-text-meta;
    background-color: $svt-color_white;
    // border: 1px solid $color-borders;
    border: none;

    &:active, &:focus {
        border-color: transparent;
        background-color: $svt-color_gray_dark;
        color: $color-text-inverted;
          @include box_shadow(1);
    }

    &--red {
      border: none;
      color: $color-text-inverted;
      background-color: $svt-color_red_regular;
      &:active, &:focus {
          background-color: $svt-color_red_extra-dark;
          color: $color-text-inverted;

      }
    }

    &--green {
      border: none;
      color: $color-text-inverted;
      background-color: $svt-color_green_regular;
      &:active, &:focus {
          background-color: $svt-color_green_extra-dark;
          color: $color-text-inverted;
      }
    }

    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    border-radius: 4em;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    // text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    @include box_shadow(2);


    &--half-center {
      min-width: 50%;
      margin: 1em auto;
    }

    &--circular {

      // position: relative;
      overflow: hidden;
      z-index: 1;
      width: 72px;
      height: 72px;
      line-height: 72px;
      padding: 0;
      border-radius: 50%;

      vertical-align: middle;
      font-size: 1.5em;
      font-weight: 200;
      display: inline-block;

      position: relative;
      svg {
        position:absolute;
        top:50%;
        bottom:50%;
        transform:translate(-50%, -50%);
      }

      &--small {
        width: 32px;
        height: 32px;
        line-height: 32px;
      }

    }
}

.no-touching {

  .card:hover {
      @include box_shadow(3);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      transform: translateY(-5px);
  }

  .btn:hover {
      @include box_shadow(3);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      transform: translateY(-5px);
  }

}


.pulse {
    overflow: initial;
    position: relative;
    z-index: 999;
}

.pulse::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: inherit;
	border-radius: inherit;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	transition: opacity .3s, transform .3s, -webkit-transform .3s;
	-webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1
}
@-webkit-keyframes pulse-animation {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}
@keyframes pulse-animation {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}

/// RESULTS

.resultGraphics {
  padding: 2em;
}
.barWrapper {
  width: 50%;
  max-width: 300px;
  background: $svt-color_cool-gray_extra-light;
  &--block {
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
    background-color: $svt-color_cool-gray_extra-light;
  }
}

.bar {
  background-color: $svt-color_cool-gray_dark;
  height: 0.5rem;
  &--block {
    min-width: 2px;
    height: 0.8rem;
  }
}

.anotherFight {
  h2 {
    margin-top: .5em;
  }
  p {
    margin-bottom: 1em;
  }
}

@import 'styles/_quiz';

///// FORM ///
.ntro {
  font-size: 20px;
  line-height: 26px;
  margin: 1em 0;
}
.frm {
  margin-top: 1em;
}
.lbl {
  padding-left: 0.5em;
  font-size: 16px;
  &:after {
     content: "\A";
     white-space: p re;
     display: block;
     margin-bottom: 1em;
  }
}

.cbox:checked + .lbl {
  font-weight: bold;
}

.cbox:disabled + .lbl {
  font-weight: normal;
  color: #AAA;
}
.btn {
  margin-right: 1em;
}
.btn-primary {
  background-color: $svt-color_green_regular;
  color: #FFF;
}
